<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공지사항</title>
    <link rel="stylesheet" href="/comunity/css.css">
</head>
<body>
    <header>
        <h2 class="logo">With DANG</h2>
        <div class="navigation">
            <a href="main.jsp">댕댕여지도</a>
            <a href="dangguen.html" class="danggeun">댕근마켓</a>
            <a href="care.html" class="care">댕댕케어</a>
            <a href="community.html" class="community">댕댕커뮤</a>
            <a href="dangoffice.html" class="dangoffice">댕사무소</a>
            <button class="btnLogin-popup">Login</button>
        </div>
    </header>
    <div class="board_wrap">
        <div class="board_title">
            <strong>댕근마켓</strong>
            <p>댕댕이 용품 중고거래</p>
        </div>
        <div class="board_write_wrap">
            <div class="board_write">
                <div class="title">
                    <dl>
                        <dt>판매 품목</dt>
                        <dd><input type="text" placeholder="품목 입력"></dd>
                    </dl>
                </div>
                <div class="info">
                    <dl>
                        <dt>가격</dt>
                        <dd><input type="text" placeholder="가격 입력"></dd>
                    </dl>
                    <dl>
                        <dt>글쓴이</dt>
                        <dd><input type="text" placeholder="글쓴이 입력"></dd>
                    </dl>
                    <dl>
                        <dt>사진</dt>
                        <dd><input type="image" placeholder="사진첨부"></dd>
                    </dl>
                </div>
                <div class="cont">
                    <textarea placeholder="내용 입력"></textarea>
                </div>
            </div>
            <div class="bt_wrap">
                <a href="view.html" class="on">등록</a>
                <a href="community.html">취소</a>
            </div>
        </div>
    </div>
    
    <div class="wrapper">
        <span class="icon-close">
            <ion-icon name="close"></ion-icon>
        </span>
        <div class="form-box login">
            <h2>로그인</h2>
            <form action="#">
                <div class="input-box">
                    <span class="icon">
                        <ion-icon name="mail"></ion-icon>
                    </span>
                    <input type="email" required>
                    <label>Email</label>
                </div>
                <div class="input-box">
                    <span class="icon">
                        <ion-icon name="lock-closed"></ion-icon>
                    </span>
                    <input type="password" required>
                    <label>Password</label>
                </div>
                <div class="remember-forgot">
                    <label><input type="checkbox">아이디 기억하기</label>
                    <a href="#">비밀번호 찾기</a>
                </div>
                <button type="submit" class="btn">로그인</button>
                <div class="login-register">
                    <p>회원이 아니신가요?<a href="#" class="register-link"> 회원가입</a></p>
                </div>
            </form>
        </div>
        <div class="form-box register">
            <h2>회원가입</h2>
<!--3열로 만들어야하는데 나중에 span으로 바꿔보거나 그리드 전에 저장 조지고 울지않기-->
            <form action="#">
                <div class="input-box">
                    <span class="icon">
                        <ion-icon name="mail"></ion-icon>
                    </span>
                    <input type="email" required>
                    <label>Email</label>
                </div>

                <div class="input-box">
                    <span class="icon">
                        <ion-icon name="lock-closed"></ion-icon>
                    </span>
                    <input type="password" required>
                    <label>Password</label>
                </div>

                <div class="input-box">
                    <span class="icon">
                        <ion-icon name="person"></ion-icon>
                    </span>
                    <input type="text" required>
                    <label>이름</label>
                </div>

                <div class="input-box">
                    <span class="icon">
                        <ion-icon name="phone"></ion-icon>
                    </span>
                    <input type="text" required>
                    <label>연락처</label>
                </div>
                <div class="remember-forgot">
                    <label><input type="checkbox">회원가입 약관에 동의합니다.</label>
                </div>
                <button type="submit" class="btn">회원가입</button>
                <div class="login-register">
                    <p>이미 회원이신가요?<a href="#" class="login-link"> Login</a></p>
                </div>
            </form>
        </div>
    </div>

</body>
</html>